# Android Studio specific
.idea/
.gradle/
local.properties
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
captures/

# Kotlin
*.iml
build/
out/

# Gradle
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

# Signing files
.signing/
signing.properties

# Logs and others
*.log
*.swp
*.iml
*.jar
*.class

# OS-specific
*.DS_Store
Thumbs.db

